body{
    background:  rgb(25, 33, 68);
  }
  
  label{
    color:white;
    font-size:20px;
  }
  
  .texto{
    width:13%;
  }
  
  .texto-m{
    width:230%;
    padding-right: 2px ;
  }
  
  .linea{
    padding-bottom:10px;
    border-bottom: solid rgb(54, 79, 181) 3px;
  }
  
  .fa-solid{
    font-size:20px;
    padding:10px;
    color:white;
    border-radius:5px;
  }
  
  .fa-brands{
    font-size:20px;
    padding:10px;
    color:white;
    border-radius:5px;
  }
  
  .form-total{
    width:400%;
  }
  
 
  
  .min{
    width: 130%;
  }
  
  .min input{
    margin-right: 20px;
  }
  
  .mas{
    margin-top:27%;
  }

  .text-danger{
    margin-top: 5px;
  }