<div class="total">
    <header>
      <img src="../../assets/a.png" height="100">
      <h1>Gonzalo Rando Database</h1>
    </header>
    <div class="row">
      <h1>Consultas.</h1>
      <div class="m-5 col-lg-11">
        <table class="table">
            <tbody>
                <tr>
                    <td><button class="btn btn-primary" routerLink="/descuento">Descuento Informática Sur</button></td>
                    <td><button class="btn btn-primary" routerLink="/compradores">Compradores ordenados por gastos</button></td>
                </tr>
                <tr>
                    <td><button class="btn btn-primary" routerLink="/precioPc">Precio de los componentes</button></td>
                    <td><button class="btn btn-primary" routerLink="/caroBarato">Ordenador mas caro y mas barato de 2021</button></td>
                </tr>
                <tr>
                    <td><button class="btn btn-primary" routerLink="/marcaVenta">Marcas usadas en cada venta</button></td>
                    <td><button class="btn btn-primary" routerLink="/menu">Volver</button></td>
                </tr>
            </tbody>
           
        </table>
          
          
      
    </div>
    <footer>
      <h5 class="text-center">Gonzalo Rando Serna - 1ºASIR</h5>
    </footer>
  </div>

