<div class="total">
    <header>
      <img src="../../assets/a.png" height="100">
      <h1>Gonzalo Rando Database</h1>
    </header>
    <div class="row">
      <h1>Menú database.</h1>
      <div class="m-5 col-lg-11">
        <table class="table ">
           
            <tbody>
                <tr>
                    <td><button class="btn btn-primary" routerLink="/listar-ordenador">Ver ordenadores</button></td>
                    <td><button class="btn btn-primary" routerLink="/listar-venta">Ver ventas</button></td>
                </tr>
                <tr>
                    <td><button class="btn btn-primary" routerLink="/ventas">Ver ventas y articulos</button></td>
                    <td><button class="btn btn-primary" routerLink="/marcas">Ver marcas</button></td>
                </tr>
                <tr>
                    <td><button class="btn btn-primary" routerLink="/queries">Consultas</button></td>
                    <td><button class="btn btn-primary" routerLink="/">Desconectar</button></td>
                </tr>
            </tbody>
           
        </table>
          
          
      
    </div>
    <footer>
      <h5 class="text-center">Gonzalo Rando Serna - 1ºASIR</h5>
    </footer>
  </div>
