<div class="total">
    <header>
      <img src="../../assets/a.png" height="100">
      <h1>Gonzalo Rando Database</h1>
    </header>
    <div class="row">
      <h2>Marcas usadas en cada venta.</h2>
      <p>
        Esta consulta muestra las marcas que usan los ordenadores de cada venta.
      </p>
      <div class=" card m-5 col-lg-11 ">
        <div class="card-body">
            <button class="btn btn-primary" routerLink="/queries">Volver</button>
          <table class="table table-striped tabladark">
            <thead>
              <tr>
                <th class="text-center" scope="col">Venta</th>
                <th class="text-center" scope="col">Marcas</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let doc of list ">
                <td class="text-center">{{doc._id}}</td>
                <td class="text-center">{{doc.marcas | split}}</td>
              </tr>
            <tfoot>
              
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <footer>
      <h5 class="text-center">Gonzalo Rando Serna - 1ºASIR</h5>
    </footer>
  </div>