<div class="total">
    <header>
      <img src="../../assets/a.png" height="100">
      <h1>Gonzalo Rando Database</h1>
    </header>
    <div class="row">
      <h2>Precio de los componentes de cada ordenador.</h2>
      <p>Muestra el precio de los ordenadores sin contar la instalación del sistema operativo por lo que solo 
        cuenta los componentes.
      </p>
      <div class=" card m-5 col-lg-11 ">
        <div class="card-body">
            <button class="btn btn-primary" routerLink="/queries">Volver</button>
          <table class="table table-striped tabladark">
            <thead>
              <tr>
                <th class="text-center" scope="col">Id Ordenador</th>
                <th class="text-center" scope="col">Precio Ordenador</th>
                <th class="text-center" scope="col">Precio Componentes</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let doc of list ">
                <td class="text-center">{{ doc.idOrdenador }}</td>
                <td class="text-center">{{ doc.precio | currency : "EUR" }}</td>
                <td class="text-center">{{ doc.precioSinSistema | currency : "EUR" }}</td>
              </tr>
            <tfoot>
              
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <footer>
      <h5 class="text-center">Gonzalo Rando Serna - 1ºASIR</h5>
    </footer>
  </div>
